*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #e0e0e0;
}

header{
    height: 110px;
    background-color: #ffffff;
}

header img{
    height: 70px;
    vertical-align: middle;
    margin-bottom: 20px;

}

header .title{
    font-size: 3rem;
    display: inline-block;
    margin-left: 5px;
    height: 110px;
    line-height: 110px;
    font-weight: 700;
}